*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-image: url("https://i.ibb.co/dkqcT1m/IMG-20240218-205427.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container-md{
    margin-top: 200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.726);
    width: 20%;
    border-radius: 10px;
}

.container-md img{
    display: flex;
    margin: auto;
    width: 150px;
    height: 150px;
}

.btn{
    width: 100%;
}

@media screen and (max-width: 800px){
    .container-md{
        width: 80%;
    }
}